{
  "development": {
    "username": "root",
    "password": "",
    "database": "honeblog",
    "host": "127.0.0.1",
    "dialect": "mysql"
  },
  "test": {
    "username": "root",
    "password": "",
    "database": "honeblog_test",
    "host": "127.0.0.1",
    "dialect": "mysql"
  },
  "production": {
    "username": "root",
    "password": "",
    "database": "honeblog_production",
    "host": "127.0.0.1",
    "dialect": "mysql"
  }
}
